@font-face {
    font-family: 'league-gothic';
    src: url('../fonds/LeagueGothic-Regular-VariableFont_wdth.ttf') ;
}
@font-face {
    font-family: 'klee-one';
    src: url('../fonds/KleeOne-Regular.ttf');
}
@font-face {
    font-family: 'jockeyone';
    src: url('../fonds/JockeyOne-Regular.ttf');
}
@font-face {
    font-family: 'martel-sans';
    src: url('../fonds/MartelSans-Regular.ttf');

}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}
.winkelmandje img{
width: 40px;
}
.navbar{
 display: flex;
 height: 100px;
 background-color: rgba(255, 25, 29, 1);
 align-items: center;
 padding-left: 50px;
 justify-content: space-between;
 
}
.menu img{
    width: 30px;
}

.logo img{
    width: 80px;
    margin-left: 200px;
}
.talen{
    display: flex;
    gap: 5px;
}
.talen button{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.zwart button{
    background-color: black;
    color: white;
}

.Inlog_Uitlog button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.responsive_rechterkant {
    display: flex; /* of block/grid afhankelijk van layout */
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}
.menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50px;
    background-color: rgba(255, 25, 29, 1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 10px;
    border-radius: 5px;
    padding: 20px;
    
}

.dropdown-menu button {
    display: block;
    width: 100px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
    color: black;
}
.intro_text{
    font-family: 'klee-one';
    font-size: 20px;
    color: rgba(255, 25, 29, 1);
    margin-top: 40px;
}
.links_rechts_margin{
    margin-left: 10vw;
    margin-right: 10vw;
    
}
.burger{
    font-family: 'league-gothic';
    font-size: 50px;
}
.burger p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner img{
    width: 100%;
}
.grijzebox{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(214, 214, 214, 1);
}
.about_us{
    font-family: jockeyone;
    display: flex;
    justify-content: center;
}
.about_us p{
    font-size: 40px;
}
.witerand{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    padding-right: 0;
    width: 80%;
    background-color: white;
}
.textvalk{
    font-size: 19px;
    font-family: 'martel-sans';
    width: 80%;
    padding-left: 10%;
}
.brugers_one_sale{
    display: flex;
    justify-content: center;
    font-family: 'league-gothic';
    font-size: 50px;
    margin-top: 10px;
}
.brugers_one_sale p{
    margin-top: 70px;
}
.enkel_wopper_img img{
    width: 204px;
    transform: translate(0, 4px);
}
.textbox{
    width: 204px;
    font-family: 'martel-sans';
    background-color: white;
}
.burger_font{
    font-family: 'jockeyone';
    font-size: 15px;
}
.burger_font p{
    margin-top: 0;
}
.sale_display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_margin{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button_mandje button{
    width: 95%;
    height: 30px;
    background-color: rgba(255, 25, 29, 1);
    border-radius: 10px;
    font-family: 'jockeyone';
    margin-top: 10px;
}
.text_prijs_burger p{
    margin: 0;
    font-size: 12px;
}
.margin_bottom{
    margin-bottom: 60px;
}
.burger_display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger_menu{
    display: flex;
    justify-content: space-evenly;
}

.drinken_menu{
    display: flex;
    justify-content: center;
    font-family: 'league-gothic';
    font-size: 50px;
    margin-top: 10px;
}
.contacten_grijze_rand{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(214, 214, 214, 1);
}
.links_rechts_margin_contact{
    margin-left: 25vw;
    margin-right: 25vw;
}
.Contacten_kop{
    font-family: 'jockeyone';
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
.Contacten_kop p{
    width: 400px;
}
textarea {
    resize: none;
}
.naam{
    font-family: 'martel-sans';
}
.naam p{
    margin: 0;
    padding-top: 15px;
}
.naam input{
    width: 100%;
    height: 30px;
}
.email{
    font-family: 'martel-sans';
}
.email p{
    margin: 0;
    padding-top: 30px;
}
.email input{
    width: 100%;
    height: 30px;
}
.bericht{
    font-family: 'martel-sans';
}
.bericht p{
    margin: 0;
    padding-top: 30px;
}
.bericht textarea{
    width: 100%;
    height: 80px;
}
.button_verstuur{
    display: flex;
    justify-content: center;
}
.button_verstuur button{
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: lighter;
}
.wachtwoord{
    font-family: 'martel-sans';
}
.wachtwoord p{
    margin: 0;
    padding-top: 30px;
}
.wachtwoord input{
    width: 100%;
    height: 30px;
}
.gebruikersnaam{
    font-family: 'martel-sans';
}
.gebruikersnaam p{
    margin: 0;
    padding-top: 30px;
}
.gebruikersnaam input{
    width: 100%;
    height: 30px;
}
.inlog_kop{
    font-family: 'jockeyone';
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
