body{
    margin: 0;
    overflow-x: hidden;
}
.winkelmandje img{
width: 40px;
}
.navbar{
 display: flex;
 height: 100px;
 background-color: rgba(255, 25, 29, 1);
 align-items: center;
 padding-left: 50px;
 justify-content: space-between;
 
}
.menu img{
    width: 30px;
}

.logo img{
    width: 80px;
    margin-left: 200px;
}
.talen{
    display: flex;
    gap: 5px;
}
.talen button{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.zwart button{
    background-color: black;
    color: white;
}

.Inlog_Uitlog button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.responsive_rechterkant {
    display: flex; /* of block/grid afhankelijk van layout */
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}
.menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50px;
    background-color: rgba(255, 25, 29, 1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 10px;
    border-radius: 5px;
    padding: 20px;
    
}

.dropdown-menu button {
    display: block;
    width: 100px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}